// src/components/rightPannel/styles/types.scss
.type {
  &__bug {
    background-color: #94bc4a;
  }
  &__dark {
    background-color: #736c75;
  }
  &__dragon {
    background-color: #6a7baf;
  }
  &__electric {
    background-color: #e5c531;
  }
  &__fairy {
    background-color: #e397d1;
  }
  &__fighting {
    background-color: #cb5f48;
  }
  &__fire {
    background-color: #ea7a3c;
  }
  &__flying {
    background-color: #7da6de;
  }
  &__ghost {
    background-color: #846ab6;
  }
  &__grass {
    background-color: #71c558;
  }
  &__ground {
    background-color: #cc9f4f;
  }
  &__ice {
    background-color: #70cbd4;
  }
  &__normal {
    background-color: #aab09f;
  }
  &__poison {
    background-color: #b468b7;
  }
  &__psychic {
    background-color: #e5709b;
  }
  &__rock {
    background-color: #b2a061;
  }
  &__steel {
    background-color: #89a1b0;
  }
  &__water {
    background-color: #539ae2;
  }
}
