@font-face {
  font-family: "pokemon";
  src: url("../assets/fonts/pokemon/Pokemon\ Solid.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pokemon-hollow";
  src: url("../assets/fonts/pokemon/Pokemon\ Hollow.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pokemon-classic";
  src: url("../assets/fonts/Pokemon\ Classic.ttf");
  font-weight: normal;
  font-style: normal;
}
