// src/styles/App.scss
@import "../styles/fonts";

.pokedex {
  width: 1000px;
  height: 650px;
  padding: 30px 20px;
  border: 2px solid black;
  background-color: #ab0823;
  border-radius: 20px;
  box-shadow: black 5px 5px;
  display: grid;
  justify-items: center;
  place-items: center;
  grid-template-columns: 1fr 0.1fr 1fr;

  &__middle {
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    display: grid;
    justify-items: center;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);

    &-line {
      height: 100%;
      border: 2px dashed black;
    }
  }

  &__pannel {
    width: 100%;
    height: 100%;
    border: 4px solid black;
    border-radius: 10px;
  }
}
